.about-section {
  padding: 50px;
  text-align: center;
  background-color: #f4ecf7;
  color: black;
}

.cool {
  padding-left: 90px;
  padding-right: 100px;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #f4ecf7;
  color: black;
}

.cool {
  padding-left: 90px;
  padding-right: 100px;
  text-align: center;
}

footer {
  margin-top: auto;
  text-align: center;
}