/* Color Variables */
:root {
    --white: #FFFFFF;
    --black: #000000;
    --orange: #85471e;
    --beige: #F5E4C3;
  }
  
  h1 {
    display: block;
    text-align: center;
    font-size: 100px;
    color: var(--white);
    font-style: italic;
    font-weight: bold;
    background-color: var(--orange);
  }
  
  p {
    display: block;
    font-size: medium;
    line-height: 150%;
  }
  
  aaaa {
    background-color: var(--beige);
  }
  
  p1 {
    display: block;
    background-color: var(--orange);
    font-size: 25px;
    font-weight: bold;
    line-height: 150%;
    color: var(--white);
  }